<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html layout:decorator="layout">
<head>
	<title>TODO supply a title</title>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script th:src="@{/smartshopping/angular/controller/item.controller.js}"></script>
	
	<style>
		.h1, .h2, .h3, h1, h2, h3 {
    		margin-bottom: 10px;
    		margin-top: 0 !important;
		}
	</style>
</head>
<body ng-controller="ItemController" th:attr="ng-init='init('+${itemId}+')'">
	<div layout:fragment="content">
		<div class="row">
			<div class="col-xs-12 col-sm-7">
				<table class="table">
					<tr>
						<td style="border: 0;" align="left">
							<table class="table" style="width: 110px;">
								<tr ng-repeat="image in itemImageMeta track by $index">
									<td style="border: 0; width: 210px" align="center"><a
										ng-if="$index==0"
										style="deActivePre ?'pointer-events: none; cursor: default; color: #777;':''}}font-size:x-large"
										href="#" ng-click="handleItemGalaryPre()"><span
											class="glyphicon glyphicon-chevron-up"></span></a> <a href="#"
										stlye="margin-top:2px;"
										ng-mouseover="showFullImage(image.webPath)"> <img
											alt="img" src="{{image.webPath}}" class="img-thumbnail"
											style="width: 100px; height: 80px; display: block; animation-delay: 2s;" />
									</a> <a ng-if="$index==itemImageMeta.length-1"
										style="deActiveNext ?'pointer-events: none; cursor: default; color: #777;':''}}font-size:x-large"
										href="#" ng-click="handleItemGalaryNext()"><span
											class="glyphicon glyphicon-chevron-down"></span></a></td>
								</tr>
							</table>
						</td>
						<td class="col-sm-11"
							style="border: 1px solid #ddd; vertical-align: middle;"><img
							alt="img"
							src="{{imageFullView.length > 0 ?imageFullView:itemImageMeta[0].webPath }}" />
						</td>
					</tr>
				</table>
			</div>
			<div class="col-xs-6 col-sm-5 sidebar-offcanvas" id="sidebar">
				<h1>{{item.title}}</h1>
				<p>{{item.description}} </p>
				<div class="row">
					<div class="col-xs-4 col-sm-4">
						<h4>Price : <span class="glyphicon glyphicon-eur"></span> <span style="{{item.offer?'text-decoration: line-through;':''}}">{{item.price}}</span></h4>
					</div>
					<div class="col-xs-5 col-sm-5">
						<h4 ng-if="item.offer">Now : <span class="glyphicon glyphicon-eur"></span> {{item.price}}</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4 col-sm-4">
						<a href="#" class="btn btn-primary">Contact seller to buy</a>
					</div>
					<div class="col-xs-5 col-sm-5">
						<a href="#" class="btn btn-primary">Buy from amazon</a>
					</div>
				</div>
				<br/>
				<div class="row">
					<div class="col-xs-4 col-sm-4">
						<a href="#" >View more features ..</a>
					</div>
					<div class="col-xs-5 col-sm-5">
					</div>
				</div>
			</div>
			<!--/.sidebar-offcanvas-->
		</div>
	</div>
</body>

</html>
