<div th:fragment="items">
    <div class="row">

        <div class="col-sm-6 col-md-4" ng-repeat="item in items">
            <div class="media">
                <div class="caption">
                    <h3>{{item.title}}</h3>
                    <p>{{item.description}}</p>
                    <img  style="width: 190px; height: 120px;" ng-src="{{item.itemImageMeta[0].webPath}}" alt="{{item.itemImageMeta[0].webPath}}" />
                    <h3><span class="glyphicon glyphicon-euro"></span> {{item.price}}</h3>
                    <p><a href="#">Details ..</a></p>
                </div>
            </div>
            <!--div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img  style="width: 190px; height: 120px;" ng-src="{{item.itemImageMeta[0].webPath}}" alt="{{item.itemImageMeta[0].webPath}}" />
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{item.title}}</h4>
                    <p>{{item.description}}</p>
                    <h3><span class="glyphicon glyphicon-euro"></span> {{item.price}}</h3>
                    <p><a href="#">Details ..</a></p>
                </div>
            </div-->
        </div>

        <sh-item-thum-div sh-field="itemThum" sh-form="commentForm" sh-title="Test item thum dsdsdsd" sh-desc="test desc test dec test dec testcfdsd dsdsdsd" sh-url="/static/1c46d305-6977-4edf-9994-0a514f509033_Desert.jpg"/>            
        <sh-item-thum-div sh-field="itemThum" sh-form="commentForm" sh-title="Test item thum dsdsdsd" sh-desc="test desc test dec test dec testcfdsd dsdsdsd" sh-url="/static/1c46d305-6977-4edf-9994-0a514f509033_Desert.jpg"/>            
        <sh-item-thum-div sh-field="itemThum" sh-form="commentForm" sh-title="Test item thum dsdsdsd" sh-desc="test desc test dec test dec testcfdsd dsdsdsd" sh-url="/static/1c46d305-6977-4edf-9994-0a514f509033_Desert.jpg"/>            

        <div class="col-xs-6 col-lg-4">
            <h2>Item1</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce
                dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui.</p>
            <p>
                <a class="btn btn-default" href="#" role="button">View details
                    &raquo;</a>
            </p>
        </div>
        <!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-4">
            <h2>Item2</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce
                dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui.</p>
            <p>
                <a class="btn btn-default" href="#" role="button">View details
                    &raquo;</a>
            </p>
        </div>
        <!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-4">
            <h2>Item3</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce
                dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui.</p>
            <p>
                <a class="btn btn-default" href="#" role="button">View details
                    &raquo;</a>
            </p>
        </div>
        <!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-4">
            <h2>Item4</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce
                dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui.</p>
            <p>
                <a class="btn btn-default" href="#" role="button">View details
                    &raquo;</a>
            </p>
        </div>
        <!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-4">
            <h2>Item5</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce
                dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui.</p>
            <p>
                <a class="btn btn-default" href="#" role="button">View details
                    &raquo;</a>
            </p>
        </div>
        <!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-4">
            <h2>Item6</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce
                dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                ut fermentum massa justo sit amet risus. Etiam porta sem malesuada
                magna mollis euismod. Donec sed odio dui.</p>
            <p>
                <a class="btn btn-default" href="#" role="button">View details
                    &raquo;</a>
            </p>
        </div>
        <!--/.col-xs-6.col-lg-4-->
    </div>
    <!--/row-->
</div>