<div th:fragment="items">
    <div class="row" ng-repeat="item in items">
        <div ng-if="item.content.length &gt; 0" class="col-sm-12 col-md-12">
            <h3>{{item.category.name}}</h3>
            <hr/>
        </div>
        <div ng-if="item.content.length &gt; 0" class="col-sm-6 col-md-4" ng-repeat="content in item.content">
            <div class="media">
                <div class="caption">
                    <h3>{{content.title}}</h3>
                    <p>{{content.description}}</p>
                    <img  style="width: 190px; height: 120px;" ng-src="{{content.itemImageMeta[0].webPath}}" alt="{{content.itemImageMeta[0].webPath}}" />
                    <h3><span class="glyphicon glyphicon-euro"></span> {{content.price}}</h3>
                    <p><a href="#">Details ..</a></p>
                </div>
            </div>
            <!--div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img  style="width: 190px; height: 120px;" ng-src="{{item.itemImageMeta[0].webPath}}" alt="{{item.itemImageMeta[0].webPath}}" />
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{item.title}}</h4>
                    <p>{{item.description}}</p>
                    <h3><span class="glyphicon glyphicon-euro"></span> {{item.price}}</h3>
                    <p><a href="#">Details ..</a></p>
                </div>
            </div-->
        </div>  
    </div>
    <!--/row-->
</div>