<!DOCTYPE html>
<html layout:decorator="layout">
    <head>
        <script th:src="@{/smartshopping/angular/controller/business.controller.js}"></script>
        <style type="text/css">
            .page-header {
                border-bottom: 1px solid #eee;
                margin: 0px 0px 20px 0px !important;
                padding-bottom: 9px;
            }
        </style>
    </head>
    <body>
        <!-- /* Content of this page will be decorated by the elements of layout.html (task/layout) */ -->
        <div layout:fragment="sidebar">
            <div th:replace="fragments/sidebar :: sidebar"></div>
        </div>
        <div layout:fragment="content" ng-controller="BusinessSignupController">
            <div th:replace="fragments/togglenav :: togglenav" />
            <div th:replace ="fragments/message/validation.error.message :: validationErrorMessage" />

            <div class="page-header">
                <h3>Business signup <small>Sign up for your business</small></h3>
            </div>
            {{businessImage}}
            <span ng-repeat="bimg in businessImage">
                <img alt="img" ng-src="{{bimg.webPath}}"  th:src="@{/static/1/1c4cbd60-8a3b-44d9-85cc-8370f62ec500_med4.jpg}" />
            </span>

            <ng-form class="form-horizontal" name="bSignupForm">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Business title</label>
                    <div class="col-sm-5">
                        <!-- <input type="email" class="form-control" id="inputEmail3"
                                placeholder="Email" /> -->
                        <sh-text-field type="text" sh-required="true"
                                       sh-placeholder="Enter title" 
                                       sh-form="bSignupForm" sh-field="bTitle" 
                                       sh-error-messages="titleError"
                                       ng-model="business.title" name="bTitle"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Sub title</label>
                    <div class="col-sm-5">
                        <sh-text-field type="text" 
                                       sh-placeholder="Enter sub title" 
                                       sh-form="bSignupForm" sh-field="bSubTitle" 
                                       sh-error-messages="subTitleError"
                                       ng-model="business.subTitle" name="bSubTitle"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-5">
                        <!-- <input type="email" class="form-control" id="inputEmail3"
                                placeholder="Email" /> -->
                        <sh-text-area-fileld type="text" sh-required="true"
                                             sh-placeholder="Enter decription" 
                                             sh-form="bSignupForm" sh-field="bDecription" 
                                             sh-error-messages="descriptionError"
                                             ng-model="business.description" name="bDecription"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Logo/trade mark</label>
                    <div class="col-sm-5">
                        <sh-file-upload-field type="file"
                                              sh-field="bLogoUpload" 
                                              sh-form="bSignupForm" 
                                              id="bLogoUpload"
                                              ng-model="business.bLogoUpload"
                                              formats="jpg,jpeg,png,gif"
                                              docmaxsize="500"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Banner/cover image</label>
                    <div class="col-sm-5">
                        <sh-file-upload-field type="file" 
                                              sh-field="bBannerUpload" 
                                              sh-form="bSignupForm" 
                                              id="bBannerUpload"
                                              ng-model="business.bBannerUpload"
                                              formats="jpg,jpeg,png,gif"
                                              docmaxsize="1024"/>
                    </div>
                </div>
                <div class="page-header">
                    <h4>Address</h4>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Street Name &amp; No.</label>
                    <div class="col-sm-5">
                        <sh-text-field type="text" 
                                       sh-placeholder="Enter street name &amp; No." 
                                       sh-form="bSignupForm" sh-field="bStreetNameAndNo" 
                                       sh-error-messages="subTitleError"
                                       ng-model="business.streetNameAndNo" name="bStreetNameAndNo"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Location</label>
                    <div class="col-sm-5">
                        <sh-text-field type="text" 
                                       sh-placeholder="Enter business location name" 
                                       sh-form="bSignupForm" sh-field="bLocation" 
                                       sh-error-messages="subTitleError"
                                       ng-model="business.location" name="bLocation"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Floor no.</label>
                    <div class="col-sm-5">
                        <sh-text-field type="text" 
                                       sh-placeholder="Enter floor no" 
                                       sh-form="bSignupForm" sh-field="bFloorNo" 
                                       sh-error-messages="subTitleError"
                                       ng-model="business.floorNo" name="bFloorNo"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Business/Shop no.</label>
                    <div class="col-sm-5">
                        <sh-text-field type="text" 
                                       sh-placeholder="Enter shop no." 
                                       sh-form="bSignupForm" sh-field="bShopNo" 
                                       sh-error-messages="subTitleError"
                                       ng-model="business.shopNo" name="bShopNo"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Post code</label>
                    <div class="col-sm-5">
                        <sh-text-field type="text" 
                                       sh-placeholder="Enter post code" 
                                       sh-form="bSignupForm" sh-field="bPostCode" 
                                       sh-error-messages="subTitleError"
                                       ng-model="business.postCode" name="bPostCode"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">City</label>
                    <div class="col-sm-5">
                        <sh-text-field type="text" 
                                       sh-placeholder="Enter city" 
                                       sh-form="bSignupForm" sh-field="bCity" 
                                       sh-error-messages="subTitleError"
                                       ng-model="business.city" name="bCity"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Country</label>
                    <div class="col-sm-5">
                        <sh-text-field type="text" 
                                       sh-placeholder="Enter country" 
                                       sh-form="bSignupForm" sh-field="bCountry" 
                                       sh-error-messages="subTitleError"
                                       ng-model="business.country" name="bCountry"/>
                    </div>
                </div>
                <div class="page-header">
                    <h4>Contact details</h4>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-5">
                        <sh-text-field type="text" 
                                       sh-placeholder="Enter your email id" 
                                       sh-form="bSignupForm" sh-field="bEmail" 
                                       sh-error-messages="subTitleError"
                                       ng-model="business.email" name="bEmail"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Phone</label>
                    <div class="col-sm-5">
                        <sh-text-field type="text" 
                                       sh-placeholder="Enter your phone no." 
                                       sh-form="bSignupForm" sh-field="bPhone" 
                                       sh-error-messages="subTitleError"
                                       ng-model="business.phone" name="bPhone"/>
                    </div>
                </div>
                <div class="page-header">
                    <h4>Login credential</h4>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-5">
                        <sh-text-field type="Password" 
                                       sh-placeholder="Enter Password" 
                                       sh-form="bSignupForm" sh-field="bPassword" 
                                       sh-error-messages="subTitleError"
                                       ng-model="business.password" name="bPassword"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Re-type Password</label>
                    <div class="col-sm-5">
                        <sh-text-field type="Password" 
                                       sh-placeholder="Enter Password" 
                                       sh-form="bSignupForm" sh-field="bReTypePassword" 
                                       sh-error-messages="subTitleError"
                                       ng-model="business.reTypePassword" name="bReTypePassword"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-5">
                        <button type="button" class="btn btn-default" ng-click="businessSignUp(business)">Sign in</button>
                    </div>
                </div>
            </ng-form>
        </div>
    </body>
</html>